<!DOCTYPE html>
<html>
  <head>
    <title>PortfoII</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
	


	<!-- Modernizr JS -->
	
  </head>

  <body>
  <div id="colorlib-page">
  <div class="container-wrap">
    <%= render 'layouts/Navbar' %>
    
	<%= yield %>
	
	</div><!-- end:container-wrap -->
	</div><!-- end:colorlib-page -->
  </body>
</html>
